<div class="user_info">
  <h2><%= t('.look_team') %></h2>
    <table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('.team_name') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @teams.each do |team| %>
            <tr class="class_row">
              <th><%= team.name %></th>
              <th><%= link_to t('.show'), team_path(team), class: "btn btn-outline-secondary"%></th>
              <th><%= link_to t('.edit'), edit_team_path(team), class: "btn btn-outline-secondary"%></th>
              <th><%= link_to t('.delete'), team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"%></th>
              <th colspan="3"></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
    <br>
  <div class="contents-title text-center">
    <button type="button" class="btn btn-outline-light" style="background-color: #c5db97;">
      <%= link_to t('.register_team'), new_team_path %>
    </button>
  </div>
</div>

<style>
  h2{
    color: #9d32a8;
  }
  a{
  color: #666; 
  }
</style>