<h1 class="all">園児出席一覧カレンダー</h1>
<%# <% if current_user.find(@users.role?) %>
  <h5>出席簿を入力するには、該当のクラス名をクリックしてください。</h5>
<%# <% else %>
  <%# <h5>カレンダーに表記されているお子さんのクラス名をクリックしてください。</h5> %>
<%# <% end %>
<% Team.all.each do |team| %>
  <div>
    <% unless @done_attendance_kids & team.kids.pluck(:id) == team.kids.pluck(:id) %>
      <strong><%= link_to "・#{team.name}", new_attendance_book_path(team_id: team) %></strong>
    <% end %>
  </div>
<% end %>
<hr>
<tbody>
  <div class="container">
  <div><strong><%= @day_date&.to_time&.strftime("%Y年%m月%d日") %></strong></div>
  <div><strong><%= @team_name %></strong></div>
  <% @attendancebooks_teams&.each do |attendancebook| %>
    <div class="container">
      <strong><%= Kid.find_by(id: attendancebook.kid_id).name %></strong>
      <%= attendancebook.presence_or_absence %>
    </div>
  <% end %>
</tbody>
<%= link_to "並び替え", attendance_books_path(sort_absence: true, day_date: @day_date, class_name: @team_name), class: "btn btn-warning" %>

<hr>
<div class="calendar">
  <%= month_calendar events: @attendancebooks do |date, attendancebooks| %>
    <div class="date"><%= date.day %></div>
    <div class="cd_ipcheck">
      <% class_names = [] %>
      <% attendancebooks.each do |attendancebook| %>
        <% unless class_names.include?(Kid.find(attendancebook.kid_id).team.name) %>
          <% class_names << Kid.find(attendancebook.kid_id).team.name %>
        <% end %>
      <% end %>
    </div>

  <% class_names.each do |class_name| %>
    <div>
      <%= link_to "#{class_name}",attendance_books_path(class_name: "#{class_name}", day_date: "#{date}") %>
    </div>
  <% end %>
<% end %>

<style>
h1{
  color: #9d32a8;
}
h5{
  background-color: #fae8f7;;
}
</style>
