<div class="all">
<h1 class="pickup">園児出席一覧カレンダー</h1>
</div>
<p class="new_schedule">
<h4>出席簿を入力するには、該当のクラス名をクリックしてください</h4>
</p>
<% Team.all.each do |team| %>
  <div>
    <strong><%= link_to "・#{team.name}", new_attendance_book_path(team_id: team) %></strong>
  </div>
<% end %>
<hr>

<div><strong><%= @day_date&.to_time&.strftime("%Y年%m月%d日") %></div></strong>
<div><strong><%= @team_name %></strong></div>
<% @attendancebooks_teams&.each do |attendancebook| %>
  <div>
    <%= Kid.find_by(id: attendancebook.kid_id).name %>
    <%= attendancebook.presence_or_absence %>
  </div>
<% end %>

<hr>

<div class="calendar">
  <%= month_calendar events: @attendancebooks do |date, attendancebooks| %>
    <div class="date"><%= date.day %></div>
    <div class="cd_ipcheck">
    <% class_names = [] %>
    <% attendancebooks.each do |attendancebook| %>
      <% unless class_names.include?(Kid.find(attendancebook.kid_id).team.name) %>
        <% class_names << Kid.find(attendancebook.kid_id).team.name %>
      <% end %>
    <% end %>
    </div>

  <% class_names.each do |class_name| %>
    <%= link_to "#{class_name}",
    attendance_books_path(class_name: "#{class_name}", day_date: "#{date}") %>
  <% end %>
<% end %>
