<section class="hero">
  <h1 class="title">CHILMO</h1>
    
<%= image_tag("CHILMO.jpg") %>
  <% unless user_signed_in? %>
    <button class= "signin"><%= link_to t('.sign_in'), new_user_registration_path %></button>
    <button class= "signin"><%= link_to t('.login'), new_user_session_path %> 
    <button class= "signin"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></button>
    <button class= "signin"><%= link_to '管理者ゲストログイン', users_admin_guest_sign_in_path, method: :post %></button>
  <% end %>

  <p class="explain">
  <h4>CHILMOとは</h4>
  子供の出欠情報を職員と保護者で共有することで、登園するはずの園児がいなかった、<br>
  子供を送ったつもりだったという車内置き去りで命を落としてしまう事件を未然に防ぐことができるアプリです。<br>
  <hr>
  <h5>課題</h5>
  園児バス置き去り事件はどうして起きてしまうのでしょうか<br>
  原因はたくさんあると思いますが、一つは登園するはずの園児がいないのに、誰一人として気づくことができなかったことだと思います。<br>
  この様な事件が起きてほしくない！その気持ちからアプリ制作を決めました。
  <h5>この問題からアプリが解決できること</h5>
  どの園も朝の会は必ずすると思うので、朝の会で出欠確認を取ることができる。<br>
  朝の会の時点の出席状況が職員や保護者と共有できる。<br>
  遅刻する子や早退する子もいるし、口頭で保護者から連絡事項を受けることもある。そういう場合は職員同士で共有できる連絡事項に入力することができる。<br>
  →それに対しコメントやステータスもつけれるので、大事な連絡事項を見落とさず、職員みんなで共有できる。
  </p>
    

</section>