<div class="user_info">
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul class="error">
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :日にち %>
    <%= form.datetime_field :start_time %>
  </div>

  <div class="field">
    <%= form.label :クラス名 %>
    <%= form.text_field :title, placeholder: "クラス名を入力" %>
  </div>
    
  <div class="field">
    <%= form.label :連絡事項 %>
    <%= form.text_area :remark, placeholder: "連絡事項" %>
  </div>

  <div class="field">
    <%= form.label :ステータス %>
    <%= form.select :status, Post.statuses.keys.to_a,{prompt: "選択してください"} %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
  <div class="back"><%= link_to t('.back'), posts_path %></div>