<div class="user_info">
<h1><%= t('.memo') %></h1>

<%= form_with(url: posts_path, scope: :post, method: :get, local: true) do |form| %>
  <%= form.label :検索 %>
  <%= form.text_field :title %><br>
  <%= form.label :ステータス %>
  <%= form.select :status, Post.statuses.keys.to_a, include_blank: true %><br>
  <%= form.submit"検索" %>
  <table>
    <thead>
      <tr>
        <th><%= t('.day') %></th>
        <th><%= t('.クラス名') %></th>
        <th><%= t('.ステータス') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
<% end %>
      <% @posts.each do |post| %>
        <% if post.user == current_user %>
        <tr>
          <td><%= post.start_time.strftime("%Y-%m-%d") %></td>
          <td><%= post.title %></td>
          <td><%= post.status %></td>
          <td><%= link_to t('.edit'), edit_post_path(post) %></td>
          <td><%= link_to t('.show'), post_path(post) %></td>
          <td><%= link_to t('.delete'), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('.register_memo'), new_post_path, class: "login" %>
</div>