<div class="container">
  <div class="col-6">
    <div class = "card">
      <div class="card-body">
        <div class="post-text">
          <p><strong>日にち</strong> : <%= @post.start_time&.strftime("%Y-%m-%d %H:%M") %></p>
          <p><strong>内容</strong> : <%= @post.remark %></p>
        </div>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
        <p>コメント一覧</p>
        <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
        </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>