<!DOCTYPE html>
<html>
  <head>
    <title>CHILMO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# <nav class="navbar navbar-expand-lg navbar-light bg-light"> %>
    <%# <div class="container-fluid"> %>
      <% if user_signed_in? %>
        <%= link_to image_tag(asset_path 'logo.png'), root_path,  class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "クラス一覧", teams_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "出席一覧カレンダー", attendance_books_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      <%= yield %>
  </body>
</html>
